/* MIXINS */

/* FONTS */

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-ExtraBold.woff2") format("woff2"), url("../fonts/Mukta-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-Bold.woff2") format("woff2"), url("../fonts/Mukta-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-Medium.woff2") format("woff2"), url("../fonts/Mukta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-Light.woff2") format("woff2"), url("../fonts/Mukta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-Regular.woff2") format("woff2"), url("../fonts/Mukta-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-ExtraLight.woff2") format("woff2"), url("../fonts/Mukta-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Mukta;
  font-display: swap;
  src: url("../fonts/Mukta-SemiBold.woff2") format("woff2"), url("../fonts/Mukta-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* variables */

* {
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #3E4FE8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3E4FE8), to(#2938B8));
  background-image: -o-linear-gradient(top, #3E4FE8 0%, #2938B8 100%);
  background-image: linear-gradient(to bottom, #3E4FE8 0%, #2938B8 100%);
}

a {
  text-decoration: none;
  color: #2688FC;
}

a:hover {
  color: #3E4FE8;
}

header,
section,
footer {
  min-height: 100vh;
  padding: 10vh 0 20vh 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 28vh 0 20vh 0;
}

.header__title {
  font-weight: 300;
  font-size: 130px;
  margin-bottom: -21px;
  color: #b7dcff;
}

.header__text {
  font-size: 42px;
  font-weight: 200;
  color: #2688FC;
  margin-bottom: 11px;
}

.play-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2688FC;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px auto 30px auto;
  -webkit-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  transition: all 120ms linear;
  opacity: 0.7;
}

.play-icon:hover {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: #b7dcff;
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
  opacity: 1;
}

.play-icon__triangle {
  margin-right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0px 19px 34px;
  border-color: transparent transparent transparent #3E4FE8;
}

.button-primary {
  display: block;
  max-width: 240px;
  padding: 14px 30px 12px 30px;
  border: 1px solid #3E4FE8;
  border-radius: 34px;
  margin: 0 auto;
  color: #b7dcff;
  background-color: #2688FC;
  font-size: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  transition: all 120ms linear;
}

.button-primary:hover {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: #b7dcff;
  color: #3E4FE8;
}

.writingor-modal {
  background-color: #3E4FE8;
}

.writingor-modal__body {
  background-color: #b7dcff;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio {
  padding-bottom: 5vh;
  background-color: #b7dcff;
}

.portfolio__title {
  font-weight: 400;
  font-size: 58px;
  color: #2688FC;
  margin-bottom: 70px;
}

.portfolio__carousel {
  padding: 0;
}

.portfolio__carousel .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.contacts__title {
  font-weight: 300;
  font-size: 58px;
  color: #b7dcff;
  margin-bottom: 78px;
}

.contacts .contact {
  padding: 50px 14px 78px 14px;
  background-color: #b7dcff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3f2ff), to(#b7dcff));
  background-image: -o-linear-gradient(top, #e3f2ff 0%, #b7dcff 100%);
  background-image: linear-gradient(to bottom, #e3f2ff 0%, #b7dcff 100%);
  border-radius: 7px;
  -webkit-box-shadow: 2px 5px 5px #2938B8;
          box-shadow: 2px 5px 5px #2938B8;
}

.contacts .contact__subtitle {
  font-weight: 400;
  font-size: 44px;
  color: #2688FC;
  margin-bottom: 28px;
}

.contacts .contact__text {
  font-weight: 300;
  font-size: 22px;
  color: #2688FC;
  word-wrap: break-word;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 7px;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  background-color: transparent;
  color: #2688FC;
  font-size: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  border-radius: 7px;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: #2688FC;
  color: #b7dcff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='blue'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 60px;
    margin-bottom: 0;
  }

  .header__text {
    font-size: 28px;
  }

  .portfolio__title {
    font-size: 42px;
  }

  .contacts__title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 22vh 0 10vh 0;
  }

  .portfolio__title {
    margin-bottom: 20px;
  }

  .contacts__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 500px) {
  header {
    padding: 24vh 0 10vh 0;
  }

  .header__title {
    font-size: 60px;
    margin-bottom: 0;
  }

  .button-primary {
    display: none;
  }

  .portfolio__title {
    margin-bottom: 20px;
  }

  .contacts__title {
    margin-bottom: 20px;
  }
}